/* General Sidebar Styles */
.sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #343a40; /* bg-dark */
  color: white;
  height: 100vh;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1.25rem;
}

/* List Item Styles */
.nav-item {
  padding: 0.5rem 1rem;
}

/* Link Styles */
.nav-item a {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  text-decoration: none;
  color: white; /* text-white */
  font-size: 1rem; /* fs-4 */
}

.nav-item a i {
  margin-right: 0.75rem; /* me-3 */
  font-size: 1.5rem; /* fs-4 */
}

/* Hover Effect for Links */
.nav-item a:hover {
  background-color: gray;
  color: white;
}

.ms-sidebar {
  margin-left: 200px; /* Adjust based on your sidebar width */
}


