.section {
  position: relative; /* Make the section a positioned container */
  padding-top: calc(100vh - 56px); /* Adjust 56px to match your actual navbar height */
  text-align: center;
}

.section-heading {
  position: absolute; /* Position the heading relative to its first positioned (not static) ancestor element */
  top: 50%; /* Position the heading at the vertical center */
  left: 50%; /* Position the heading at the horizontal center */
  transform: translate(-50%, -50%); /* Center the heading both horizontally and vertically */
  color: white; /* Adjust the color to make it visible on the image */
}

.section-image {
  width: 100%; /* Ensure the image fills the container */
  height: calc(100vh - 56px); /* Adjust 56px to match your actual navbar height */
  object-fit: cover;
}

.element {
  margin-bottom: 50px;
}
