.section {
  position: relative; 
  padding-top: calc(100vh - 56px); 
  text-align: center;
}

.section-heading {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
}

.section-image {
  width: 100%;
  height: calc(100vh - 56px); 
  object-fit: cover;
}

.element {
  margin-bottom: 50px;
}
